C:\Users\Mein PC\Documents\TeamUnbesiegbar\Team-Unbesiegbar\Webblog\src\myVar.txt
C:\Users\Mein PC\Documents\TeamUnbesiegbar\Team-Unbesiegbar\Webblog\src\database\pierixman.db
/home/fschultes/trainee_devops/Github/Team-Unbesiegbar/Webblog/src/JavaConfig.java
